# Python related
*.pyc
*.pyo
*.pyd
__pycache__
*.so

# Django related
*.log
*.pot
*~
*#
db.sqlite3

# virtual environment (venv)
venv/
ENV/
env/
myenv/
dish/

# PyCharm related (optional)
.idea/

#information related
.env